trigger:
- main

pool:
  vmImage: ubuntu-latest


variables:
  ARTIFACT_NAME: 'SpringBootApp'
  AWS_S3_BUCKET: 'aws-ruwe-bucket'

steps: 
- task: Maven@4
  displayName: 'Clean and Package'
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean package'
    options: '-DskipTests=true'
    publishJUnitResults: false
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.17'
    mavenVersionOption: 'Default'
    mavenAuthenticateFeed: false
    effectivePomSkip: false
    sonarQubeRunAnalysis: false
  
- task: CopyFiles@2
  displayName: 'Copy Files'
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)/target'
    Contents: '**/*.jar'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
    CleanTargetFolder: true
    OverWrite: true

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: $(ARTIFACT_NAME)
    publishLocation: 'Container'


- task: S3Upload@1
  inputs:
    awsCredentials: 'aws-ruwe-sc'
    regionName: 'eu-central-1'
    bucketName: '$(AWS_S3_BUCKET)'
    sourceFolder: '$(Build.StagingDirectory)'
    globExpressions: '**/*.jar'