trigger:
- main

pool:
  vmImage: ubuntu-latest


variables:
  ARTIFACT_NAME: 'SpringBootApp'
  AWS_S3_BUCKET: 'aws-ruwe-bucket'
  AWS_S3_FOLDER: deliveries

steps: 
- task: Maven@4
  displayName: 'Clean and Package'
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean package'
    options: '-DskipTests=true'
    publishJUnitResults: false
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.17'
    mavenVersionOption: 'Default'
    mavenAuthenticateFeed: false
    effectivePomSkip: false
    sonarQubeRunAnalysis: false
  
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: $(ARTIFACT_NAME)
    publishLocation: 'Container'

- task: Bash@3
  displayName: 'Copy file to APP.JAR'
  inputs:
    targetType: 'inline'
    script: |
      cd $(Build.ArtifactStagingDirectory)
      find . -name '*.jar' -exec cp -p '{}' app.jar ';'
      ls -all

- task: S3Upload@1
  inputs:
    awsCredentials: 'aws-ruwe-sc'
    regionName: 'eu-central-1'
    bucketName: '$(AWS_S3_BUCKET)'
    sourceFolder: '$(Build.ArtifactStagingDirectory)'
    globExpressions: '**/app.jar'
    targetFolder: '$(AWS_S3_FOLDER)'
