trigger:
- main

pool:
  vmImage: ubuntu-latest


variables:
  ARTIFACT_NAME: 'SpringBootApp'
  AWS_S3_BUCKET: 'aws-ruwe-bucket'
  AWS_S3_FOLDER: deliveries

steps: 
- template: templates/maven_clean_package.yml
- template: templates/copy_jar_files
  parameters:
    src: '$(Build.SourcesDirectory)/target'
    files: '**/*.jar'
    dst: '$(Build.ArtifactStagingDirectory)'

